<div class="flex flex-row text-center items-center justify-center
  bg-[#00008f] w-[200px] min-h-[48px] gap-[16px]
  border-2 border-[rgba(255,255,255,0.002)] cursor-pointer">

  <svg class="svg-plus" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M9.16964 10.8304H4.1875V9.16964H9.16964V4.1875H10.8304V9.16964H15.8125V10.8304H10.8304V15.8125H9.16964V10.8304Z"
      fill="white" />
  </svg>

  <span class="text-[16px] font-semibold text-white uppercase leading-[20px] tracking-[1px] text-center">
    Button Label
  </span>
</div>
