/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  /* The path is relative to the root of the deployed app */
  src: url("./assets/fonts/source-sans-pro/SourceSansPro-Regular.otf")
    format("otf");
}

/* Apply the font to the entire application */
body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}
